<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hotLineOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{2,2},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hotLineOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{2,98},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,3}</string>
                <key>spriteSourceSize</key>
                <string>{545,3}</string>
                <key>textureRect</key>
                <string>{{2,194},{545,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liveChatOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{393,2},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liveChatOffCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{393,98},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messengerOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{784,2},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messengerOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{784,98},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viberOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{1175,2},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viberOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,93}</string>
                <key>spriteSourceSize</key>
                <string>{388,93}</string>
                <key>textureRect</key>
                <string>{{1175,98},{388,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_HoTro.png</string>
            <key>size</key>
            <string>{1565,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6615f7c033dd0707de4428cd565aa2d:6764c29eca2085601ad5be95d942f86e:d871d8e8caca5eb44d62d225c4df562e$</string>
            <key>textureFileName</key>
            <string>B52_HoTro.png</string>
        </dict>
    </dict>
</plist>
