<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boderthanhcroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,607}</string>
                <key>spriteSourceSize</key>
                <string>{11,607}</string>
                <key>textureRect</key>
                <string>{{2,899},{11,607}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonChoiNgay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,54}</string>
                <key>spriteSourceSize</key>
                <string>{165,54}</string>
                <key>textureRect</key>
                <string>{{1545,2},{165,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cardSim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,150}</string>
                <key>spriteSourceSize</key>
                <string>{227,150}</string>
                <key>textureRect</key>
                <string>{{1074,2},{227,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dienMaThe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,141}</string>
                <key>spriteSourceSize</key>
                <string>{193,141}</string>
                <key>textureRect</key>
                <string>{{1476,286},{193,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dienThoai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,137}</string>
                <key>spriteSourceSize</key>
                <string>{145,137}</string>
                <key>textureRect</key>
                <string>{{1385,786},{145,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gradian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1184,110}</string>
                <key>spriteSourceSize</key>
                <string>{1184,110}</string>
                <key>textureRect</key>
                <string>{{2,786},{1184,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headerTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1626,130}</string>
                <key>spriteSourceSize</key>
                <string>{1626,130}</string>
                <key>textureRect</key>
                <string>{{2,653},{1626,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{1533,786},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>momo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,139}</string>
                <key>spriteSourceSize</key>
                <string>{238,139}</string>
                <key>textureRect</key>
                <string>{{1304,2},{238,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nganHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,164}</string>
                <key>spriteSourceSize</key>
                <string>{198,164}</string>
                <key>textureRect</key>
                <string>{{1074,155},{198,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nganHangCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,164}</string>
                <key>spriteSourceSize</key>
                <string>{198,164}</string>
                <key>textureRect</key>
                <string>{{1275,286},{198,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noiDUng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1069,648}</string>
                <key>spriteSourceSize</key>
                <string>{1069,648}</string>
                <key>textureRect</key>
                <string>{{2,2},{1069,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartPay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,139}</string>
                <key>spriteSourceSize</key>
                <string>{238,139}</string>
                <key>textureRect</key>
                <string>{{1304,144},{238,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theCao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,137}</string>
                <key>spriteSourceSize</key>
                <string>{193,137}</string>
                <key>textureRect</key>
                <string>{{1189,786},{193,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theNganHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,183}</string>
                <key>spriteSourceSize</key>
                <string>{144,183}</string>
                <key>textureRect</key>
                <string>{{1074,322},{144,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theNganHang1Copy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,154}</string>
                <key>spriteSourceSize</key>
                <string>{159,154}</string>
                <key>textureRect</key>
                <string>{{1260,453},{159,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theNganHang3Copy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,154}</string>
                <key>spriteSourceSize</key>
                <string>{159,154}</string>
                <key>textureRect</key>
                <string>{{1074,469},{159,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theNganHangCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,154}</string>
                <key>spriteSourceSize</key>
                <string>{159,154}</string>
                <key>textureRect</key>
                <string>{{1417,482},{159,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_HuongDan.png</string>
            <key>size</key>
            <string>{1630,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa2fc61a40354f931eda199c79656970:47daaf327ab6b8c0ae602466a46d4111:4d6b5aac4c7a8aea2d0e10d322626053$</string>
            <key>textureFileName</key>
            <string>B52_HuongDan.png</string>
        </dict>
    </dict>
</plist>
