<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonAnBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonBaoU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{168,1},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonDanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1,75},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonGuiBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1,242},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonHaPhom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{75,75},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonRutBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{149,75},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXepbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{168,242},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconRutBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{273,75},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>textRutBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,48}</string>
                <key>spriteSourceSize</key>
                <string>{149,48}</string>
                <key>textureRect</key>
                <string>{{223,75},{149,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_Phom.png</string>
            <key>size</key>
            <string>{334,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf01107c99df9952ce3ce6257a2c8d7:c03840ed073a892196044706184f54c7:1b334f68ca87a88fca38b52d25ff5358$</string>
            <key>textureFileName</key>
            <string>B52_Phom.png</string>
        </dict>
    </dict>
</plist>
