<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Backgound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,292}</string>
                <key>spriteSourceSize</key>
                <string>{624,292}</string>
                <key>textureRect</key>
                <string>{{1055,133},{624,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BoderTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1052,82}</string>
                <key>spriteSourceSize</key>
                <string>{1052,82}</string>
                <key>textureRect</key>
                <string>{{1,133},{1052,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,92}</string>
                <key>spriteSourceSize</key>
                <string>{370,92}</string>
                <key>textureRect</key>
                <string>{{1,217},{370,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Gradiand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,158}</string>
                <key>spriteSourceSize</key>
                <string>{139,158}</string>
                <key>textureRect</key>
                <string>{{745,217},{139,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HeaderTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1626,130}</string>
                <key>spriteSourceSize</key>
                <string>{1626,130}</string>
                <key>textureRect</key>
                <string>{{1,1},{1626,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{1,311},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconTop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,79}</string>
                <key>spriteSourceSize</key>
                <string>{93,79}</string>
                <key>textureRect</key>
                <string>{{905,217},{93,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconTop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{86,66}</string>
                <key>textureRect</key>
                <string>{{905,312},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconTop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,66}</string>
                <key>textureRect</key>
                <string>{{986,217},{76,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,92}</string>
                <key>spriteSourceSize</key>
                <string>{370,92}</string>
                <key>textureRect</key>
                <string>{{373,217},{370,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconDolla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1629,1},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_BXH.png</string>
            <key>size</key>
            <string>{1680,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6d4be224cd445632617bd0f341307bd:fc70fa174f245631a2adda2739c511bd:8980a790487b97e4272c239362dbd465$</string>
            <key>textureFileName</key>
            <string>B52_BXH.png</string>
        </dict>
    </dict>
</plist>
