<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,968},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,1086},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,1204},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{129,1252},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,1322},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{129,1370},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,1440},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{129,1488},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,116}</string>
                <key>spriteSourceSize</key>
                <string>{126,116}</string>
                <key>textureRect</key>
                <string>{{1,1558},{126,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Muctien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,3}</string>
                <key>spriteSourceSize</key>
                <string>{21,3}</string>
                <key>textureRect</key>
                <string>{{208,163},{21,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderBuyIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,434}</string>
                <key>spriteSourceSize</key>
                <string>{186,434}</string>
                <key>textureRect</key>
                <string>{{1,237},{186,434}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderTienTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,26}</string>
                <key>spriteSourceSize</key>
                <string>{123,26}</string>
                <key>textureRect</key>
                <string>{{219,366},{123,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonLat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,72}</string>
                <key>spriteSourceSize</key>
                <string>{121,72}</string>
                <key>textureRect</key>
                <string>{{129,1606},{121,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLatTatCa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,72}</string>
                <key>spriteSourceSize</key>
                <string>{205,72}</string>
                <key>textureRect</key>
                <string>{{1,163},{205,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTatTay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,38}</string>
                <key>textureRect</key>
                <string>{{86,1680},{120,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTheo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,71}</string>
                <key>spriteSourceSize</key>
                <string>{165,71}</string>
                <key>textureRect</key>
                <string>{{1,895},{165,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTheoHet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,79}</string>
                <key>spriteSourceSize</key>
                <string>{221,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1,673},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1,747},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonXem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{1,821},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonXemUp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,79}</string>
                <key>spriteSourceSize</key>
                <string>{221,79}</string>
                <key>textureRect</key>
                <string>{{1,82},{221,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,322}</string>
                <key>spriteSourceSize</key>
                <string>{28,322}</string>
                <key>textureRect</key>
                <string>{{224,42},{28,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyOnCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,322}</string>
                <key>spriteSourceSize</key>
                <string>{28,322}</string>
                <key>textureRect</key>
                <string>{{189,237},{28,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBuyInThemTien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,82}</string>
                <key>spriteSourceSize</key>
                <string>{83,82}</string>
                <key>textureRect</key>
                <string>{{1,1676},{83,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,31}</string>
                <key>spriteSourceSize</key>
                <string>{39,31}</string>
                <key>textureRect</key>
                <string>{{224,1},{39,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mucTienTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,3}</string>
                <key>spriteSourceSize</key>
                <string>{21,3}</string>
                <key>textureRect</key>
                <string>{{208,163},{21,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nanBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,84}</string>
                <key>spriteSourceSize</key>
                <string>{513,84}</string>
                <key>textureRect</key>
                <string>{{168,737},{513,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thanhMuaTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,55}</string>
                <key>spriteSourceSize</key>
                <string>{174,55}</string>
                <key>textureRect</key>
                <string>{{189,561},{174,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_GameTo.png</string>
            <key>size</key>
            <string>{256,1759}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4849838dba943573fe8d1d054fc024e:352d6f43c380d7926808140e3b0cd29c:9e6b56188ef43e56bcbc3c0d8991c792$</string>
            <key>textureFileName</key>
            <string>B52_GameTo.png</string>
        </dict>
    </dict>
</plist>
