<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGTien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,101}</string>
                <key>spriteSourceSize</key>
                <string>{570,101}</string>
                <key>textureRect</key>
                <string>{{1290,2},{570,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanBlackJack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1285,650}</string>
                <key>spriteSourceSize</key>
                <string>{1285,650}</string>
                <key>textureRect</key>
                <string>{{2,2},{1285,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CUocDOi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,57}</string>
                <key>spriteSourceSize</key>
                <string>{78,57}</string>
                <key>textureRect</key>
                <string>{{1458,572},{78,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chip1k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{1394,440},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1597,338},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_10k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1526,440},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chip_5k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1526,542},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HienDiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,48}</string>
                <key>spriteSourceSize</key>
                <string>{59,48}</string>
                <key>textureRect</key>
                <string>{{1394,338},{59,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VongDat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,98}</string>
                <key>spriteSourceSize</key>
                <string>{136,98}</string>
                <key>textureRect</key>
                <string>{{1458,317},{136,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonBaoHiem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1290,575},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonChiaTu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1458,2},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonChiuThua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1394,2},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1626,2},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDatLai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1458,65},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonDatxw2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1458,128},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonGapDoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1394,170},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonNgung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1626,170},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonRut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1458,191},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTatTay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{1458,254},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_BlackJack.png</string>
            <key>size</key>
            <string>{1698,654}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6407d92fb04f6782eaa7ccd99a77784e:522b0468f1dd14d55756206b6239c80a:0061e607540a8f8960d81ec562530eff$</string>
            <key>textureFileName</key>
            <string>B52_BlackJack.png</string>
        </dict>
    </dict>
</plist>
