<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{47,43}</string>
                <key>textureRect</key>
                <string>{{305,1682},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boderthanhcroll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,456}</string>
                <key>spriteSourceSize</key>
                <string>{8,456}</string>
                <key>textureRect</key>
                <string>{{386,408},{8,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICONBACKPAGE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{459,450},{13,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ICONBACKPAGE3x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{20,23}</string>
                <key>textureRect</key>
                <string>{{328,1104},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICONBACK_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{26,56}</string>
                <key>textureRect</key>
                <string>{{440,1249},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICONNEXTPAGE.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,15}</string>
                <key>spriteSourceSize</key>
                <string>{13,15}</string>
                <key>textureRect</key>
                <string>{{402,408},{13,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconDanDuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,173}</string>
                <key>spriteSourceSize</key>
                <string>{192,173}</string>
                <key>textureRect</key>
                <string>{{264,1130},{192,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LineSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,120}</string>
                <key>spriteSourceSize</key>
                <string>{403,120}</string>
                <key>textureRect</key>
                <string>{{298,2},{403,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Muctien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,3}</string>
                <key>spriteSourceSize</key>
                <string>{21,3}</string>
                <key>textureRect</key>
                <string>{{227,1310},{21,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bannerThongBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,33}</string>
                <key>spriteSourceSize</key>
                <string>{680,33}</string>
                <key>textureRect</key>
                <string>{{262,2},{680,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{227,1388},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,251}</string>
                <key>spriteSourceSize</key>
                <string>{922,251}</string>
                <key>textureRect</key>
                <string>{{8,2},{922,251}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderBuyIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,35}</string>
                <key>spriteSourceSize</key>
                <string>{462,35}</string>
                <key>textureRect</key>
                <string>{{421,2},{462,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderNoiDungChatCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,72}</string>
                <key>spriteSourceSize</key>
                <string>{354,72}</string>
                <key>textureRect</key>
                <string>{{7,1310},{354,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderNoiDungChatCopy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,54}</string>
                <key>spriteSourceSize</key>
                <string>{262,54}</string>
                <key>textureRect</key>
                <string>{{298,408},{262,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderTuDongDangNhap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{7,1667},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bodermini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,222}</string>
                <key>spriteSourceSize</key>
                <string>{380,222}</string>
                <key>textureRect</key>
                <string>{{8,927},{380,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonCancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{358,1388},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonChoingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{421,1388},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonChoingayCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{328,867},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDangxuat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{391,867},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDoimatkhau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,60}</string>
                <key>spriteSourceSize</key>
                <string>{190,60}</string>
                <key>textureRect</key>
                <string>{{264,1325},{190,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonDongYCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,69}</string>
                <key>spriteSourceSize</key>
                <string>{190,69}</string>
                <key>textureRect</key>
                <string>{{402,668},{190,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDongy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{191,1570},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLichSu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{359,1556},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonMauDo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{422,1556},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonOk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{191,1570},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonSanSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{320,673},{147,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXanhLa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{137,1633},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttoncopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,48}</string>
                <key>textureRect</key>
                <string>{{227,1519},{118,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttoninput.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,55}</string>
                <key>spriteSourceSize</key>
                <string>{221,55}</string>
                <key>textureRect</key>
                <string>{{262,685},{221,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttoninputGiftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,58}</string>
                <key>spriteSourceSize</key>
                <string>{306,58}</string>
                <key>textureRect</key>
                <string>{{82,1310},{306,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eidtname.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{457,1351},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hopthu_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,436}</string>
                <key>spriteSourceSize</key>
                <string>{2,436}</string>
                <key>textureRect</key>
                <string>{{397,408},{2,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hopthu_linengang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,4}</string>
                <key>spriteSourceSize</key>
                <string>{164,4}</string>
                <key>textureRect</key>
                <string>{{474,668},{164,4}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hopthu_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,61}</string>
                <key>spriteSourceSize</key>
                <string>{218,61}</string>
                <key>textureRect</key>
                <string>{{264,909},{218,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iCon+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{143,1579},{48,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iCon-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,45}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{440,1156},{48,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConFacebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,89}</string>
                <key>spriteSourceSize</key>
                <string>{198,89}</string>
                <key>textureRect</key>
                <string>{{402,467},{198,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconBoderCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{78,1669},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconCheckCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{351,1104},{27,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconCrollThanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,64}</string>
                <key>spriteSourceSize</key>
                <string>{8,64}</string>
                <key>textureRect</key>
                <string>{{481,668},{8,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconDola.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,51}</string>
                <key>spriteSourceSize</key>
                <string>{36,51}</string>
                <key>textureRect</key>
                <string>{{440,1117},{36,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{403,1035},{63,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconKhoa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{454,979},{37,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconOnoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,28}</string>
                <key>textureRect</key>
                <string>{{459,1024},{90,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconPhone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,46}</string>
                <key>spriteSourceSize</key>
                <string>{51,46}</string>
                <key>textureRect</key>
                <string>{{305,1633},{51,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconThayAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{440,1204},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconVip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{46,1667},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconXoaThu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,34}</string>
                <key>spriteSourceSize</key>
                <string>{115,34}</string>
                <key>textureRect</key>
                <string>{{457,861},{115,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconplus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{320,823},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inboxOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{469,1249},{39,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>inboxOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,34}</string>
                <key>textureRect</key>
                <string>{{457,1308},{40,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ketsat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,47}</string>
                <key>textureRect</key>
                <string>{{82,1619},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineDoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,498}</string>
                <key>spriteSourceSize</key>
                <string>{2,498}</string>
                <key>textureRect</key>
                <string>{{2,1190},{2,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineNgang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1185,3}</string>
                <key>spriteSourceSize</key>
                <string>{1185,3}</string>
                <key>textureRect</key>
                <string>{{2,2},{1185,3}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muccuocOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,28}</string>
                <key>spriteSourceSize</key>
                <string>{445,28}</string>
                <key>textureRect</key>
                <string>{{459,2},{445,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muccuocOnCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,28}</string>
                <key>spriteSourceSize</key>
                <string>{445,28}</string>
                <key>textureRect</key>
                <string>{{233,927},{445,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muccuocVithethao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,28}</string>
                <key>spriteSourceSize</key>
                <string>{445,28}</string>
                <key>textureRect</key>
                <string>{{355,408},{445,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nameboderTanGau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,33}</string>
                <key>spriteSourceSize</key>
                <string>{236,33}</string>
                <key>textureRect</key>
                <string>{{191,1310},{236,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thanhMuaTo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{328,1035},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vetDen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,45}</string>
                <key>spriteSourceSize</key>
                <string>{266,45}</string>
                <key>textureRect</key>
                <string>{{143,1310},{266,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_AtlasPopup.png</string>
            <key>size</key>
            <string>{493,1725}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9244a0fa01dd89a8b9df41c80dd5d299:fb1edbd55db9f9f711e7041f2ab656de:2ee97a53f0bac748fadf59f39fb8f0d7$</string>
            <key>textureFileName</key>
            <string>B52_AtlasPopup.png</string>
        </dict>
    </dict>
</plist>
