<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatarLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,158}</string>
                <key>spriteSourceSize</key>
                <string>{161,158}</string>
                <key>textureRect</key>
                <string>{{860,420},{161,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatarNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,131}</string>
                <key>spriteSourceSize</key>
                <string>{147,131}</string>
                <key>textureRect</key>
                <string>{{417,1195},{147,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bannerThongBao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,33}</string>
                <key>spriteSourceSize</key>
                <string>{680,33}</string>
                <key>textureRect</key>
                <string>{{824,2},{680,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,157}</string>
                <key>spriteSourceSize</key>
                <string>{157,157}</string>
                <key>textureRect</key>
                <string>{{2,1628},{157,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderAvatarmini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{122,108}</string>
                <key>textureRect</key>
                <string>{{438,1637},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderAvatrnormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,131}</string>
                <key>spriteSourceSize</key>
                <string>{147,131}</string>
                <key>textureRect</key>
                <string>{{860,581},{147,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,39}</string>
                <key>spriteSourceSize</key>
                <string>{237,39}</string>
                <key>textureRect</key>
                <string>{{551,1103},{237,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,85}</string>
                <key>spriteSourceSize</key>
                <string>{655,85}</string>
                <key>textureRect</key>
                <string>{{736,2},{655,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderChatLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,641}</string>
                <key>spriteSourceSize</key>
                <string>{412,641}</string>
                <key>textureRect</key>
                <string>{{2,736},{412,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderCheckpont.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{341,1547},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderCuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,39}</string>
                <key>spriteSourceSize</key>
                <string>{206,39}</string>
                <key>textureRect</key>
                <string>{{593,1103},{206,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderLoadingBanChoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,32}</string>
                <key>spriteSourceSize</key>
                <string>{268,32}</string>
                <key>textureRect</key>
                <string>{{710,736},{268,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderMoiBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,85}</string>
                <key>spriteSourceSize</key>
                <string>{364,85}</string>
                <key>textureRect</key>
                <string>{{547,736},{364,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderMoneyLose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,61}</string>
                <key>spriteSourceSize</key>
                <string>{218,61}</string>
                <key>textureRect</key>
                <string>{{845,715},{218,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderMoneyWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,68}</string>
                <key>spriteSourceSize</key>
                <string>{244,68}</string>
                <key>textureRect</key>
                <string>{{774,715},{244,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderMoneyWinCopy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,127}</string>
                <key>spriteSourceSize</key>
                <string>{456,127}</string>
                <key>textureRect</key>
                <string>{{417,736},{456,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderNamgeGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,41}</string>
                <key>spriteSourceSize</key>
                <string>{386,41}</string>
                <key>textureRect</key>
                <string>{{2,1498},{386,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderNoiDungChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,72}</string>
                <key>spriteSourceSize</key>
                <string>{354,72}</string>
                <key>textureRect</key>
                <string>{{941,2},{354,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderNoiDungChatCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,72}</string>
                <key>spriteSourceSize</key>
                <string>{354,72}</string>
                <key>textureRect</key>
                <string>{{635,736},{354,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,78}</string>
                <key>spriteSourceSize</key>
                <string>{415,78}</string>
                <key>textureRect</key>
                <string>{{860,2},{415,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnBb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{731,1707},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{966,1691},{54,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnSb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,53}</string>
                <key>textureRect</key>
                <string>{{966,1748},{54,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonAnBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{417,1345},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonBaoBinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{406,1420},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonBaoSam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{635,1287},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonBaoU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{579,1482},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonBatDau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,69}</string>
                <key>spriteSourceSize</key>
                <string>{191,69}</string>
                <key>textureRect</key>
                <string>{{635,1093},{191,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonBoLuot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{579,1557},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonChi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{579,1632},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonChi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{563,1695},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonChi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{747,1482},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{909,923},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonDongY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{378,1748},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonHuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{779,1091},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonKetQua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{929,1091},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonKhongText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{803,1334},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonLichSu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{780,1397},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonMoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{885,1460},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonOnOf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,31}</string>
                <key>spriteSourceSize</key>
                <string>{147,31}</string>
                <key>textureRect</key>
                <string>{{546,1758},{147,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonSanSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,69}</string>
                <key>spriteSourceSize</key>
                <string>{191,69}</string>
                <key>textureRect</key>
                <string>{{707,1093},{191,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonTuChoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{948,1397},{165,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXPLai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{854,1091},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXacNhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,60}</string>
                <key>spriteSourceSize</key>
                <string>{165,60}</string>
                <key>textureRect</key>
                <string>{{810,1628},{165,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonXepNhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,72}</string>
                <key>spriteSourceSize</key>
                <string>{205,72}</string>
                <key>textureRect</key>
                <string>{{909,715},{205,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonXepXong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{803,1259},{165,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonXepbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,72}</string>
                <key>spriteSourceSize</key>
                <string>{165,72}</string>
                <key>textureRect</key>
                <string>{{810,1460},{165,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatAutoOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,57}</string>
                <key>spriteSourceSize</key>
                <string>{192,57}</string>
                <key>textureRect</key>
                <string>{{318,1582},{192,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatHistoryOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,57}</string>
                <key>spriteSourceSize</key>
                <string>{192,57}</string>
                <key>textureRect</key>
                <string>{{378,1547},{192,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chatInputOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,57}</string>
                <key>spriteSourceSize</key>
                <string>{192,57}</string>
                <key>textureRect</key>
                <string>{{585,1362},{192,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatIputOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,57}</string>
                <key>spriteSourceSize</key>
                <string>{192,57}</string>
                <key>textureRect</key>
                <string>{{574,1422},{192,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{780,1362},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effectLoeSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{731,731}</string>
                <key>spriteSourceSize</key>
                <string>{731,731}</string>
                <key>textureRect</key>
                <string>{{2,2},{731,731}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>emoji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{971,1259},{45,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gradianBuyIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,336}</string>
                <key>spriteSourceSize</key>
                <string>{32,336}</string>
                <key>textureRect</key>
                <string>{{2,1547},{32,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gradiandChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,115}</string>
                <key>spriteSourceSize</key>
                <string>{401,115}</string>
                <key>textureRect</key>
                <string>{{2,1380},{401,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBaoVay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{391,1498},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBoderCheck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{984,1047},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconChat 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{774,962},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{710,1007},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconCheckCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,32}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{318,1777},{40,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{941,359},{63,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconHuongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,43}</string>
                <key>spriteSourceSize</key>
                <string>{49,43}</string>
                <key>textureRect</key>
                <string>{{978,1627},{49,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconOnoff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,28}</string>
                <key>spriteSourceSize</key>
                <string>{90,28}</string>
                <key>textureRect</key>
                <string>{{984,954},{90,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconPlus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{948,1565},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconPopupChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{779,1259},{21,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconRutBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{747,1650},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{821,962},{42,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconSetting2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,78}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{805,1007},{92,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconThayAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{696,1763},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconThoatBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,42}</string>
                <key>spriteSourceSize</key>
                <string>{39,42}</string>
                <key>textureRect</key>
                <string>{{593,1312},{39,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icondolla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{298,1582},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inputTexthat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,43}</string>
                <key>spriteSourceSize</key>
                <string>{293,43}</string>
                <key>textureRect</key>
                <string>{{2,1582},{293,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lingNgang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,2}</string>
                <key>spriteSourceSize</key>
                <string>{424,2}</string>
                <key>textureRect</key>
                <string>{{2,1542},{424,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBanChoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,26}</string>
                <key>spriteSourceSize</key>
                <string>{264,26}</string>
                <key>textureRect</key>
                <string>{{745,715},{264,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadingLarge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,155}</string>
                <key>spriteSourceSize</key>
                <string>{153,155}</string>
                <key>textureRect</key>
                <string>{{162,1628},{153,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,138}</string>
                <key>spriteSourceSize</key>
                <string>{139,138}</string>
                <key>textureRect</key>
                <string>{{438,1495},{139,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>masterRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{736,660},{47,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nameBoderCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,33}</string>
                <key>spriteSourceSize</key>
                <string>{236,33}</string>
                <key>textureRect</key>
                <string>{{984,715},{236,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>popupChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,77}</string>
                <key>spriteSourceSize</key>
                <string>{158,77}</string>
                <key>textureRect</key>
                <string>{{805,1691},{158,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timeCountdown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{971,1316},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_UiKit.png</string>
            <key>size</key>
            <string>{1023,1811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7de8bdeb0ac9d05d0003f5210fa8618a:bea51e869e9ddb2fd513d8f3477b5c97:242704a7cbf7d3adc085459dbe1f091b$</string>
            <key>textureFileName</key>
            <string>B52_UiKit.png</string>
        </dict>
    </dict>
</plist>
