<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>autoBanking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,32}</string>
                <key>spriteSourceSize</key>
                <string>{156,32}</string>
                <key>textureRect</key>
                <string>{{474,263},{156,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>autoBankingOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,86}</string>
                <key>spriteSourceSize</key>
                <string>{263,86}</string>
                <key>textureRect</key>
                <string>{{559,297},{263,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{691,918},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{815,869},{121,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{831,740},{121,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bank4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{894,740},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bank5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{894,803},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bank6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{878,866},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bank7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,60}</string>
                <key>spriteSourceSize</key>
                <string>{121,60}</string>
                <key>textureRect</key>
                <string>{{878,929},{121,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boderQuiDoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,437}</string>
                <key>spriteSourceSize</key>
                <string>{498,437}</string>
                <key>textureRect</key>
                <string>{{2,527},{498,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonDongYCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,69}</string>
                <key>spriteSourceSize</key>
                <string>{190,69}</string>
                <key>textureRect</key>
                <string>{{825,380},{190,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonHoanTat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,69}</string>
                <key>spriteSourceSize</key>
                <string>{190,69}</string>
                <key>textureRect</key>
                <string>{{825,452},{190,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonNapTien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{271,217},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonQuayLai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,69}</string>
                <key>spriteSourceSize</key>
                <string>{190,69}</string>
                <key>textureRect</key>
                <string>{{825,524},{190,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonRitTien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,69}</string>
                <key>spriteSourceSize</key>
                <string>{190,69}</string>
                <key>textureRect</key>
                <string>{{825,596},{190,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonRutThe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,69}</string>
                <key>spriteSourceSize</key>
                <string>{190,69}</string>
                <key>textureRect</key>
                <string>{{825,668},{190,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTaoCodeOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{271,292},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTaoCodeOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{271,367},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonTiepTuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{271,442},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttoncopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,48}</string>
                <key>spriteSourceSize</key>
                <string>{118,48}</string>
                <key>textureRect</key>
                <string>{{392,967},{118,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttoninputCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,50}</string>
                <key>spriteSourceSize</key>
                <string>{267,50}</string>
                <key>textureRect</key>
                <string>{{122,967},{267,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttoninputGiftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,58}</string>
                <key>spriteSourceSize</key>
                <string>{306,58}</string>
                <key>textureRect</key>
                <string>{{210,217},{306,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giftCodeOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,29}</string>
                <key>spriteSourceSize</key>
                <string>{177,29}</string>
                <key>textureRect</key>
                <string>{{513,531},{177,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giftCodeOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,84}</string>
                <key>spriteSourceSize</key>
                <string>{263,84}</string>
                <key>textureRect</key>
                <string>{{559,564},{263,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{2,967},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConFacebook2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,122}</string>
                <key>spriteSourceSize</key>
                <string>{269,122}</string>
                <key>textureRect</key>
                <string>{{210,2},{269,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBoderCheckCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{474,422},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconCheckCopy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{35,28}</string>
                <key>textureRect</key>
                <string>{{482,2},{35,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconDolla2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{513,2},{29,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{825,297},{77,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconMomo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,126}</string>
                <key>spriteSourceSize</key>
                <string>{125,126}</string>
                <key>textureRect</key>
                <string>{{703,740},{125,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconSmartPay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,292}</string>
                <key>spriteSourceSize</key>
                <string>{415,292}</string>
                <key>textureRect</key>
                <string>{{559,2},{415,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lichSu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{62,967},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineBoder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,522}</string>
                <key>spriteSourceSize</key>
                <string>{205,522}</string>
                <key>textureRect</key>
                <string>{{2,2},{205,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineGiua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,434}</string>
                <key>spriteSourceSize</key>
                <string>{2,434}</string>
                <key>textureRect</key>
                <string>{{122,1020},{2,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mobiOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,97}</string>
                <key>spriteSourceSize</key>
                <string>{175,97}</string>
                <key>textureRect</key>
                <string>{{503,740},{175,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nameboderTanGau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,40}</string>
                <key>spriteSourceSize</key>
                <string>{285,40}</string>
                <key>textureRect</key>
                <string>{{513,243},{285,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nganHangOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,36}</string>
                <key>spriteSourceSize</key>
                <string>{211,36}</string>
                <key>textureRect</key>
                <string>{{977,166},{211,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nganHangOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,86}</string>
                <key>spriteSourceSize</key>
                <string>{263,86}</string>
                <key>textureRect</key>
                <string>{{559,386},{263,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smartPayOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,27}</string>
                <key>spriteSourceSize</key>
                <string>{220,27}</string>
                <key>textureRect</key>
                <string>{{482,40},{220,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smartPayOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,86}</string>
                <key>spriteSourceSize</key>
                <string>{263,86}</string>
                <key>textureRect</key>
                <string>{{559,475},{263,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theCaoOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,38}</string>
                <key>spriteSourceSize</key>
                <string>{161,38}</string>
                <key>textureRect</key>
                <string>{{977,2},{161,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>theCaoOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,87}</string>
                <key>spriteSourceSize</key>
                <string>{263,87}</string>
                <key>textureRect</key>
                <string>{{210,127},{263,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viDienTuOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,41}</string>
                <key>spriteSourceSize</key>
                <string>{206,41}</string>
                <key>textureRect</key>
                <string>{{513,34},{206,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>viDienTuOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,84}</string>
                <key>spriteSourceSize</key>
                <string>{263,84}</string>
                <key>textureRect</key>
                <string>{{559,651},{263,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettelOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,97}</string>
                <key>spriteSourceSize</key>
                <string>{175,97}</string>
                <key>textureRect</key>
                <string>{{513,918},{175,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vinaOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,97}</string>
                <key>spriteSourceSize</key>
                <string>{175,97}</string>
                <key>textureRect</key>
                <string>{{603,740},{175,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>naprut.png</string>
            <key>size</key>
            <string>{1017,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63ab95d40bc93341e7188fa4b0c8e7b5:b065009e03ac90ffcef16f9e20b69a3d:80add3d0d310b2467dcf920bd8e9a0d9$</string>
            <key>textureFileName</key>
            <string>naprut.png</string>
        </dict>
    </dict>
</plist>
