<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1337,628}</string>
                <key>spriteSourceSize</key>
                <string>{1337,628}</string>
                <key>textureRect</key>
                <string>{{2,2},{1337,628}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boderNhanQua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{708,275}</string>
                <key>spriteSourceSize</key>
                <string>{708,275}</string>
                <key>textureRect</key>
                <string>{{2,1342},{708,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bpderName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,35}</string>
                <key>spriteSourceSize</key>
                <string>{460,35}</string>
                <key>textureRect</key>
                <string>{{2,1835},{460,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDongY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,58}</string>
                <key>spriteSourceSize</key>
                <string>{161,58}</string>
                <key>textureRect</key>
                <string>{{844,1576},{161,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnHuy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,58}</string>
                <key>spriteSourceSize</key>
                <string>{161,58}</string>
                <key>textureRect</key>
                <string>{{847,1393},{161,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRollingOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{713,1299},{406,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnRollingOnCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{847,984},{406,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonMoRuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{769,1576},{200,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buttonMoRuongOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{510,1620},{200,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonNhanQua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,72}</string>
                <key>textureRect</key>
                <string>{{769,1576},{200,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huongDanOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{2,1779},{406,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huongDanOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{411,1779},{406,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{820,1779},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icondolla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,31}</string>
                <key>spriteSourceSize</key>
                <string>{21,31}</string>
                <key>textureRect</key>
                <string>{{633,1299},{21,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineDoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,589}</string>
                <key>spriteSourceSize</key>
                <string>{41,589}</string>
                <key>textureRect</key>
                <string>{{803,984},{41,589}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,255}</string>
                <key>spriteSourceSize</key>
                <string>{690,255}</string>
                <key>textureRect</key>
                <string>{{633,2},{690,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loeSang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,272}</string>
                <key>spriteSourceSize</key>
                <string>{286,272}</string>
                <key>textureRect</key>
                <string>{{633,695},{286,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thung1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,142}</string>
                <key>spriteSourceSize</key>
                <string>{167,142}</string>
                <key>textureRect</key>
                <string>{{633,984},{167,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thung2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,142}</string>
                <key>spriteSourceSize</key>
                <string>{166,142}</string>
                <key>textureRect</key>
                <string>{{172,1620},{166,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thung3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,142}</string>
                <key>spriteSourceSize</key>
                <string>{167,142}</string>
                <key>textureRect</key>
                <string>{{633,1129},{167,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thung4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,142}</string>
                <key>spriteSourceSize</key>
                <string>{166,142}</string>
                <key>textureRect</key>
                <string>{{341,1620},{166,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thung5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,142}</string>
                <key>spriteSourceSize</key>
                <string>{167,142}</string>
                <key>textureRect</key>
                <string>{{2,1620},{167,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rolling.png</string>
            <key>size</key>
            <string>{907,1872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35696a543dbe61ec888b6347e90feeb1:ba65be1fae30ecd36a27eccf2c19cfd9:b82a3e0f6c90b8e10416e58e67c59994$</string>
            <key>textureFileName</key>
            <string>rolling.png</string>
        </dict>
    </dict>
</plist>
