<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hu_rolling_table.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1337,628}</string>
                <key>spriteSourceSize</key>
                <string>{1337,628}</string>
                <key>textureRect</key>
                <string>{{1,1},{1337,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Left_btn_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,44}</string>
                <key>textureRect</key>
                <string>{{1258,829},{26,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Left_btn_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,44}</string>
                <key>spriteSourceSize</key>
                <string>{26,44}</string>
                <key>textureRect</key>
                <string>{{1258,875},{26,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1037,5}</string>
                <key>spriteSourceSize</key>
                <string>{1037,5}</string>
                <key>textureRect</key>
                <string>{{1,795},{1037,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Line_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1046,11}</string>
                <key>spriteSourceSize</key>
                <string>{1046,11}</string>
                <key>textureRect</key>
                <string>{{1,782},{1046,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Right_btn_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{1258,921},{26,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Right_btn_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{1258,782},{26,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,58}</string>
                <key>spriteSourceSize</key>
                <string>{451,58}</string>
                <key>textureRect</key>
                <string>{{1340,1},{451,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_moruong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,63}</string>
                <key>spriteSourceSize</key>
                <string>{216,63}</string>
                <key>textureRect</key>
                <string>{{1286,883},{216,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dsgame_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1297,149}</string>
                <key>spriteSourceSize</key>
                <string>{1297,149}</string>
                <key>textureRect</key>
                <string>{{1,631},{1297,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconExit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{1694,828},{73,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icondolla.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{1504,883},{33,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1049,782},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1400,1},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1581,180},{207,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruong12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1400,180},{207,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruong2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1609,1},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1581,389},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1708,568},{207,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ruong5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1,802},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{1049,782},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{210,802},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{419,802},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{628,802},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong_disable0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,177}</string>
                <key>spriteSourceSize</key>
                <string>{207,177}</string>
                <key>textureRect</key>
                <string>{{837,802},{207,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ruong_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,207}</string>
                <key>spriteSourceSize</key>
                <string>{239,207}</string>
                <key>textureRect</key>
                <string>{{1340,454},{239,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_HuongDan_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{1300,663},{406,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_HuongDan_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{1300,718},{406,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_Rolling_OFF.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{1300,773},{406,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_Rolling_ON.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,53}</string>
                <key>spriteSourceSize</key>
                <string>{406,53}</string>
                <key>textureRect</key>
                <string>{{1286,828},{406,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rolling2.png</string>
            <key>size</key>
            <string>{1886,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d31b58423d0ab99434a5d5d8bb95e2a9:a2f065c89e6000e35721c39202ab877e:2b756e2daa69870836a87e814a8417c4$</string>
            <key>textureFileName</key>
            <string>rolling2.png</string>
        </dict>
    </dict>
</plist>
