<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ban4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,34}</string>
                <key>spriteSourceSize</key>
                <string>{102,34}</string>
                <key>textureRect</key>
                <string>{{1803,295},{102,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ban5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,34}</string>
                <key>spriteSourceSize</key>
                <string>{102,34}</string>
                <key>textureRect</key>
                <string>{{1839,295},{102,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BanTatCa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,37}</string>
                <key>spriteSourceSize</key>
                <string>{119,37}</string>
                <key>textureRect</key>
                <string>{{1925,127},{119,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BandanhPhe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,34}</string>
                <key>spriteSourceSize</key>
                <string>{141,34}</string>
                <key>textureRect</key>
                <string>{{1809,1},{141,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bansolo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,28}</string>
                <key>spriteSourceSize</key>
                <string>{88,28}</string>
                <key>textureRect</key>
                <string>{{1931,37},{88,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bannerLeftTab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,492}</string>
                <key>spriteSourceSize</key>
                <string>{179,492}</string>
                <key>textureRect</key>
                <string>{{979,213},{179,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,74}</string>
                <key>spriteSourceSize</key>
                <string>{238,74}</string>
                <key>textureRect</key>
                <string>{{1569,1},{238,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,74}</string>
                <key>spriteSourceSize</key>
                <string>{238,74}</string>
                <key>textureRect</key>
                <string>{{1473,213},{238,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1566,141}</string>
                <key>spriteSourceSize</key>
                <string>{1566,141}</string>
                <key>textureRect</key>
                <string>{{1,1},{1566,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gradianFoot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1697,295},{100,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headerCopy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{976,62}</string>
                <key>spriteSourceSize</key>
                <string>{976,62}</string>
                <key>textureRect</key>
                <string>{{1,244},{976,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConAnDanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{930,308},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConHuongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,80}</string>
                <key>spriteSourceSize</key>
                <string>{131,80}</string>
                <key>textureRect</key>
                <string>{{1713,213},{131,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iConXepHang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,86}</string>
                <key>spriteSourceSize</key>
                <string>{115,86}</string>
                <key>textureRect</key>
                <string>{{1814,37},{115,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icBanBinhThuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{927,67}</string>
                <key>spriteSourceSize</key>
                <string>{927,67}</string>
                <key>textureRect</key>
                <string>{{1,308},{927,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icBanChung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{927,67}</string>
                <key>spriteSourceSize</key>
                <string>{927,67}</string>
                <key>textureRect</key>
                <string>{{974,144},{927,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icClock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{1925,248},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{79,77}</string>
                <key>textureRect</key>
                <string>{{1846,213},{79,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>iconBanner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{971,98}</string>
                <key>spriteSourceSize</key>
                <string>{971,98}</string>
                <key>textureRect</key>
                <string>{{1,144},{971,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconChoiNhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{110,108}</string>
                <key>textureRect</key>
                <string>{{1473,289},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconSoNguoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{930,352},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconTaoBan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{110,108}</string>
                <key>textureRect</key>
                <string>{{1585,289},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconTinTuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,78}</string>
                <key>spriteSourceSize</key>
                <string>{93,78}</string>
                <key>textureRect</key>
                <string>{{1875,294},{93,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>progressBanThuong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,44}</string>
                <key>spriteSourceSize</key>
                <string>{243,44}</string>
                <key>textureRect</key>
                <string>{{1569,77},{243,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>B52_RoomUI.png</string>
            <key>size</key>
            <string>{1963,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a24b4081f058f560c0f1432b7c1171f0:37f272286b779d54ebb6f05f974bfdfa:e3544ff145c084a9bb2932a07a717869$</string>
            <key>textureFileName</key>
            <string>B52_RoomUI.png</string>
        </dict>
    </dict>
</plist>
